<!DOCTYPE html>
<html>
  <head>
    <title>GreatLine International LLC</title>
    
    <meta name="viewport" content="width=device-width" />
    
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'logo.png'%>
  	
  </head>

  <body>
    <%= yield %>
  </body>
</html>
